body {
  color: #89a9c3 !important;
}

.white-button {
  border-style: solid !important;
  border-color: #89a9c3 !important;
  background-color: white !important;
  color: #89a9c3 !important;
}

.selected-button {
  border-style: solid !important;
  border-color: #89a9c3 !important;
  background-color: #013963 !important;
  color: #89a9c3 !important;
}

#product-image:hover {
  border-color: #013963;
  box-shadow: 0 0.5rem 0.5rem -0.04rem #7e8388;
  transform: translateY(-0.25rem);
}
