@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

div#cloud_title
{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cloudy-happiness-webstor-1888d.appspot.com/o/assets%2FbackgroundClouds.png?alt=media&token=eefc3414-34b2-4b7a-a4fa-a9bc03f35568");
    background-size: cover;
    background-repeat: no-repeat;
}

.chcTitle
{
    font-family: 'Shrikhand', cursive;
    text-align:center;
    font-size: 5vw;
    color: #89a9c3;
}