@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

#directory{
    background-image: url("https://i.ibb.co/HV98jfb/Section-Clouds.png");
    background-size: cover;
    font-family: 'Shrikhand', cursive;
}

/* Nav buttons for each */
#shopNav{
    position: relative;

    width: 20%;
    padding-bottom: 30%;
}

#shopBtn{
    position: absolute;
    height: 40%;
    width: 36%;
    border-radius: 50%;

    top: 70%;
    left: 50%;
    transform: translate(-40%, -50%);

    text-align:center;

    background-color: #cae8ff;
    border: none;
}

#shopBtn:hover{
    background-color: #89a9c3;
    box-shadow: 0 0.6rem 0.6rem -.04rem #cae8ff;
    transform: translate(-40%, -52%);
    transition: 0.25s;
}

#shopCloud{
    top: 70%;
    left: 50%;
    transform: translate(-44%, -50%);

    height: 74%;
    width: 65%;
}

#faqNav{
    position: relative;

    width: 20%;
    padding-bottom: 20%;
}

#faqBtn{
    position: absolute;
    height: 40%;
    width: 36%;
    border-radius: 50%;

    top: 45%;
    left: 50%;
    transform: translate(-60%, -50%);

    text-align:center;

    background-color: #d6e9b9;
    border: none;
}

#faqBtn:hover{
    background-color: #799946;
    box-shadow: 0 0.6rem 0.6rem -.04rem #d6e9b9;
    transform: translate(-60%, -52%);
    transition: 0.25s;
}

#faqCloud{
    top: 45%;
    left: 50%;
    transform: translate(-55%, -50%);

    height: 74%;
    width: 65%;
}

#contactNav{
    position: relative;

    width: 20%;
    padding-bottom: 20%;
}

#contactBtn{
    position: absolute;
    height: 40%;
    width: 36%;
    border-radius: 50%;

    top: 70%;
    left: 50%;
    transform: translate(-60%, -50%);

    text-align:center;

    background-color: #f8c9dc;
    border: none;
}

#contactBtn:hover{
    background-color: #f3aac8;
    box-shadow: 0 0.6rem 0.6rem -.04rem #f8c9dc;
    transform: translate(-60%, -52%);
    transition: 0.25s;
}

#contactCloud{
    top: 70%;
    left: 50%;
    transform: translate(-56%, -50%);

    height: 74%;
    width: 65%;
}

.linkText{
    display: block;

    text-decoration: none;
    font-size: 2vw;
    color: black;
}

.linkText:hover{
    color: black;
}

.clouds{
    position: absolute;
    right: 0%;
    top: 0%;
}