#mobile-cloudy-image {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
}

#desktop-cloudy-image {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cloudy-happiness-webstor-1888d.appspot.com/o/assets%2FSection-Clouds.png?alt=media&token=0536419e-62af-4f65-8e01-cea7e06e2550");
    background-size: cover;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width: 100%;
    height: 200px;
}