.brand {
    /* // TODO: Make center */
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; */
    width: 100px;
    
}

.navbar-light .navbar-toggler {
    border: none;
}

.fas { 
    font-size: 23px;
    color: black;
}

a .nav-link {
    padding: 0.5rem 0.5rem !important;
    color: black !important;
}